<%# Log in Page %>

<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div> 
      <%= link_to root_path, class: "logo-link" do %>
        <h1 class="logo-link flex items-center justify-center" >CloneBnB</h1>
      <% end %>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Log in</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <%= link_to "Sign up", new_user_registration_path, class: "font-medium text-black-600 hover:text-pink-500" %>
      </p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "mt-8 space-y-6" }) do |f| %>
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:outline-none focus:ring-black-500 sm:text-sm" %>
        </div>
        <div>
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:outline-none focus:ring-black-500 sm:text-sm" %>
        </div>
      </div>

      <div>
        <% if devise_mapping.rememberable? %>
          <div class="flex items-center">
            <%= f.check_box :remember_me, class: "h-4 w-4 text-red-600 focus:ring-red-500 border-gray-300 rounded" %>
            <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
          </div>
        <% end %>

        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot your password?</a>
        </div>
      </div>

      <div>
        <%= f.submit "Log in", class: "clonebnb-gradient cursor-pointer group relative flex w-full justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2" do %>
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: mini/lock-closed -->
            <svg class="h-5 w-5 text-pink-500 group-hover:text-pink-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
            </svg>
          </span>
          Log in
        <% end %>
      </div>
    <% end %>
    
  </div>
</div>


